/*---------------------------------------------- General Styling ------------*/

body {
    background-color: #ddd
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

hr {
    margin: 15px auto;
    border-color: #888;
}

.box-outline {
    padding: 15px 10px;
    border: 1px solid black;
    margin: 10px 0;
    text-align: center;
}

.heading--h3 {
    margin: 0 auto 15px auto;
}

/*---------------------------------------------- Top Title Bar --------------*/

.top-bar {
    min-height: 50px;
    background-image: linear-gradient(#801515, #aa3939 40%, #d46a6a);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .top-bar {
        border: 1px solid #ddd;
        border-radius: 5px;
    }
}

.title,
.title:focus,
.title:hover {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    margin: 10px 20px;
    text-align: center;
}

.reset-filters {
    margin: 10px 20px;
}


/*----------------------------------------------               --------------*/

.wrapper {
    border-radius: 10px;
}


/*---------------------------------------------- Introduction ---------------*/

/*---------------------------------------------- Gender ---------------------*/

.gender-icon {
    font-size: 5em;
}

.gender-percent {
    font-size: 1.4em;
    display: flex;
    justify-content: center;

}

.gender-text {
    margin: 10px 0;
    font-size: 1em;
}

.gender-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*----------------------------------------------               --------------*/

.pie-chart {
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
}

.bar-chart {
    margin: 10px 0;
    width: 100%;
    height: 100%;
}

.row-chart {
    margin: 10px 0;
    width: 100%;
    height: 100%;
}

.line-chart {
    margin: 10px 0;
    width: 100%;
    height: 100%;
}
